@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.row {
  margin-left: 20px;
  color: #fff;
}
.row h2 {
  font-weight: 600;
  margin-top: 10px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}
.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 450ms;
}
.row__poster:hover {
  transform: scale(1.08);
}
.rowposter__Large {
  max-height: 250px;
}
